<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poor+Story&family=Teko&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Allura&family=Poor+Story&family=Teko&display=swap');
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 border-bottom fixed-top">
      <a class="navbar-brand h1" href="#">Jacky-<span class="text-primary">Services</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto  ">
          <li class="nav-item active">
            <a class="nav-link text-primary" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ourservices">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ourteam">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>

      </div>
    </nav>
  </header>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/faithful-security-services-amp-detective-agency-p-ltd158455514228-img.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5>Jacky security services</h5>
          <p>Jacky security service works to become a trusted partner to each of our costmers.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/promansecuritech-security-services-delhi-ncr.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/bg-4.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>

  <section class="about my-5" id="about">
    <div class="container">
      <div class="text-center my-5">
        <h1>About <span class="text-primary"> me</span></h1>
        <hr class="w-25 m-auto">
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h1>What do you <span class="text-primary">want to know?</span></h1>
          <p class="p-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat dolor, culpa natus nihil
            repellat fugiat
            temporibus, a sequi sunt asperiores aperiam ipsum unde omnis deleniti vel tenetur reprehenderit quibusdam!
            Excepturi, quod nulla!</p>
          <button type="button" class="btn btn-light mb-5">More about me</button>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  My hobbies
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  My qualification
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  My dreams
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-12 col-md-6 m-auto text-end ">
          <img src="../assets/gps-security-blog-28-Jan.jpg" class="img-fluid img-thumbnail" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="services py-5 bg-light" id="ourservices">
    <div class="container">
      <div class="text-center my-5">
        <h1>Our <span class="text-primary"> Services</span></h1>
        <hr class="w-25 m-auto">
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-people-fill"></i>
              <h5 class="card-title">INDUSTRIAL SECURITY</h5>
              <p class="card-text">We provide both well-trained freshers and experienced personnel with Industrial
                Security</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-gender-female"></i>
              <h5 class="card-title">FEMALE SECURITY TEAM</h5>
              <p class="card-text">We provide trained and experienced female security personnel for the protection of
                female executives.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-shield-check"></i>
              <h5 class="card-title">DOG SQUAD SERVICE</h5>
              <p class="card-text">We provide quality Security Dogs and trained Handlers for the risk situations.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-cash-stack"></i>
              <h5 class="card-title">ESCORTING CASH AND DOCUMENTS</h5>
              <p class="card-text">Our security personnel is sufficiently trained for the service of escorting cash,
                valuables, and documents.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12 ">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-fire"></i>
              <h5 class="card-title">SAFETY AND FIRE FIGHTING</h5>
              <p class="card-text">We provide experienced and trained fire fighting guards to protect you from fire</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-radioactive"></i>
              <h5 class="card-title">EXECUTIVE PROTECTION/BODY GUARD</h5>
              <p class="card-text">We create a group of selected personnel who are our specialized in bodyguard services
              </p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="team my-5 text-center" id="ourteam">
    <div class="container">
      <div class="text-center my-5">
        <h1>Our <span class="text-primary"> Team</span></h1>
        <hr class="w-25 m-auto">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 col-12">
        <div class="card">
          <div class="card-body">
            <img src="../assets/3.jpg" class="img-fluid rounded-circle border border-primary" alt="">

            <h5 class="card-title mt-4">SAM</h5>
            <p class="card-text">CEO
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12">
        <div class="card">
          <div class="card-body">
            <img src="../assets/6.jpg" class="img-fluid rounded-circle border border-primary  " alt="">

            <h5 class="card-title mt-4">JAY</h5>
            <p class="card-text">Director
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12">
        <div class="card">
          <div class="card-body">
            <img src="../assets/1.jpg" class="img-fluid rounded-circle border border-primary" alt="">

            <h5 class="card-title mt-4">DHRUV</h5>
            <p class="card-text">GM
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact py-5  " id="contact">
    <div class="container">
      <div class="text-center my-5">
        <h1>Feel free<span class="text-primary"> to Connect</span></h1>
        <hr class="w-25 m-auto">
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-12">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>

            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-12 m-auto text-end">
          <img src="../assets/contact.jpg" class="img-fluid img-thumbnail" alt="">
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid bg-primary text-white p-2 text-center fs-5">Created By JACKY</div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>


</body>

</html>